<div class="printable-area">
  <div class="about-wrap">
    <div class="about-grid">
      <mat-card class="about-panel-left">
        <mat-card-header>
          <!--        <mat-card-title>About Us</mat-card-title>-->
        </mat-card-header>
        <mat-card-content>
          <p>
            The <strong class="text-highlight">Anova Onboard System</strong> is a state-of-the-art, Windows-based onboard management
            solution built specifically for the cruise industry. Trusted for over <strong>20 years</strong>, Anova integrates
            essential shipboard operations into one seamless platform—delivering proven reliability, real-time data sharing,
            and the flexibility to adapt to the unique needs of any cruise line.
          </p>
        </mat-card-content>
      </mat-card>

      <!-- Right panel: rotating text -->
      <mat-card class="about-panel about-rotator about-panel-right">
        <div class="rotating-box">
          <strong>{{ currentHighlight }}</strong>
        </div>
      </mat-card>

    </div>
  </div>
</div>
