<div [formGroup]="formGroup">
  <mat-form-field
    appearance="outline"
    subscriptSizing="fixed"
    class="form-field-full"
    [class.readonly-form-field]="field.readonly">

    <mat-label>{{ field.label }}</mat-label>

    <input
      matInput
      type="number"
      [formControlName]="field.name"
      [id]="field.name"
      [placeholder]="field.placeholder || ''"
      [readonly]="field.readonly"
      [tabIndex]="field.readonly ? -1 : 0"
      [attr.min]="min"
      [attr.max]="field.maxLength"
      [attr.step]=1>

    <mat-error *ngIf="formGroup.get(field.name)?.invalid &&
                       (formGroup.get(field.name)?.touched ||
                        formGroup.get(field.name)?.dirty)">
      <ng-container *ngIf="hasError(field.name, 'required')">
        This field is required.
      </ng-container>
      <ng-container *ngIf="hasError(field.name, 'min')">
        Value is too small.
      </ng-container>
      <ng-container *ngIf="hasError(field.name, 'max')">
        Value is too large.
      </ng-container>
    </mat-error>

  </mat-form-field>
</div>
