<div class="printable-area gangway-dashboard"  (click)="focusRfidInput()">
<!--  <input-->
<!--    #rfidInput-->
<!--    class="rfid-input"-->
<!--    autocomplete="off"-->
<!--    (keyup.enter)="onRfidRead(rfidInput.value)"-->
<!--  />-->
  <div class="summary-card-grid">
    <div class="count-card large-card" *ngFor="let status of summaryStatuses()" [ngClass]="status.cssClass">
      <div class="count-label">
        {{ status.description }}
      </div>
      <div class="count-number">
        {{ getCount('TOT', status.statusId) }}
      </div>
    </div>
  </div>

  <table class="detail-table">
    <thead>
    <tr>
      <th>Type</th>
      <th *ngFor="let status of guestStatuses">
        {{ status.description }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let guestType of guestTypes">
      <td class="type-column">
        {{ guestType.description }}
      </td>
      <td *ngFor="let status of guestStatuses">
        {{ getCount(guestType.typeId, status.statusId) }}
      </td>
    </tr>
    </tbody>
  </table>
</div>
