//.guest-row {
//  display: grid;
//  grid-template-columns:
//    140px
//    minmax(220px, 320px)
//    minmax(220px, 320px);
//
//  gap: 16px;
//  align-items: center;
//  margin-bottom: 2px;
//}
//.guest-heading {
//  font-weight: 600;
//}
@media (max-width: 800px) {
  .guest-row {
    grid-template-columns: 1fr;
  }
}

.guest-row {
  display: grid;
  grid-template-columns:
    minmax(220px, 320px)
    minmax(220px, 320px);

  gap: 6px 16px;
  margin-bottom: 12px;
}

.guest-heading {
  grid-column: 1 / -1;
  font-weight: 600;
}
