<div class="printable-area" *ngIf="componentLoaded">
  <!--  <h2>{{ user?.username }}</h2>-->

  <mat-tab-group [mat-stretch-tabs]="false" class="mat-elevation-z4">
    <mat-tab label="Profile">
      <ng-container *ngIf="user?.person as person">
        <app-form-manager
          [formId]="FormConstants.PROFILE"
          [recordId]="person.personId"
          action="view"
          [inline]="true"
        >
        </app-form-manager>
        <div class="button-row">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="launchForm(FormConstants.PROFILE, person.personId, 'update')">
            Edit
          </button>
        </div>

      </ng-container>
    </mat-tab>

    <mat-tab label="Hotel Access">
      <ng-container *ngIf="user as currentUser">
        <app-form-manager
          [formId]="FormConstants.USER_HOTEL"
          [recordId]="currentUser.userId"
          action="update"
          [inline]="true"
        >
        </app-form-manager>
<!--        <div class="button-row">-->
<!--          <button-->
<!--            mat-stroked-button-->
<!--            type="button"-->
<!--            (click)="launchForm(FormConstants.USER_HOTEL, currentUser.userId, 'update')">-->
<!--            Editx-->
<!--          </button>-->
<!--          <button-->
<!--            mat-raised-button-->
<!--            color="primary"-->
<!--            type="submit"-->
<!--            >-->
<!--            Edit2-->
<!--          </button>-->
<!--        </div>-->

      </ng-container>
    </mat-tab>

    <mat-tab label="Roles">
      <ng-container *ngIf="user as currentUser">
        <app-form-manager
          [formId]="FormConstants.USER_ROLE"
          [recordId]="currentUser.userId"
          action="update"
          [inline]="true"
        >
        </app-form-manager>
      </ng-container>

    </mat-tab>
  </mat-tab-group>
</div>
{{user?.userId}}
