  <div *ngIf="error" class="form-error-message mat-elevation-z2">
    {{ error }}
  </div>

<form [formGroup]="formGroup" (ngSubmit)="submitForm()" *ngIf="form" class="material-form">
  <div class="form-header">
    <h3>{{ form?.header }}</h3>
  </div>

  <div *ngFor="let control of form.formFields" class="form-row">
    <ng-container [ngSwitch]="control.typeId">
    <!-- Use the widget component for TEXTBOX -->
    <app-widget-textbox
      *ngSwitchCase="TypeConstants.CONTROL_TEXTBOX"
      [field]="control"
      [formGroup]="formGroup">
    </app-widget-textbox>

      <!-- HIDDEN -->
      <input *ngSwitchCase="TypeConstants.CONTROL_HIDDEN"
             type="hidden"
             [formControlName]="control.name">

      <!-- UNKNOWN -->
      <div *ngSwitchDefault class="unknown-type-warning mat-elevation-z2">
        ⚠️ {{ control.label }}: Type '{{ control.type?.description }}' not defined yet!
      </div>

    </ng-container>

  </div>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="formGroup.invalid">
    {{ form.saveButtonLabel }}
  </button>
</form>


<!--<h3>{{form?.header}}</h3>-->
<!--<form [formGroup]="formGroup" (ngSubmit)="submitForm()" *ngIf="form">-->
<!--  <div *ngFor="let control of form.formFields" class="form-row">-->
<!--&lt;!&ndash;    <label>{{ control.label }}</label>&ndash;&gt;-->

<!--    <ng-container [ngSwitch]="control.typeId">-->
<!--      <app-widget-textbox-->
<!--        *ngSwitchCase="TypeConstants.CONTROL_TEXTBOX"-->
<!--        [field]="control"-->
<!--        [formGroup]="formGroup">-->
<!--      </app-widget-textbox>-->

<!--      <input *ngSwitchCase="TypeConstants.CONTROL_HIDDEN"-->
<!--        type="hidden"-->
<!--        [formControlName]="control.name"-->
<!--      >-->

<!--      &lt;!&ndash; Not yet implemented types &ndash;&gt;-->
<!--      <div *ngSwitchDefault class="unknown-type-warning">-->
<!--        ⚠️ {{ control.label }}: Type '{{ control.type.description }}' not defined yet!-->
<!--      </div>-->

<!--    </ng-container>-->
<!--  </div>-->
<!--  <button type="submit">-->
<!--    {{ form.saveButtonLabel }}-->
<!--  </button>-->
<!--</form>-->
