<app-page-tab *ngIf="componentLoaded && user?.currentClient?.clientId as clientId">
  <mat-tab-group
    [selectedIndex]="selectedTabIndex"
    (selectedIndexChange)="saveTabIndex($event)"
    [mat-stretch-tabs]="false"
    class="mat-elevation-z4">
    <mat-tab label="Setup and Configuration">
      <ng-container *ngIf="user?.currentClient?.clientId">
        <app-form-manager
          [formId]="FormConstants.CLIENT"
          [recordId]=clientExtensionId
          action="view"
          [inline]="true"
        >
        </app-form-manager>
        <div class="button-row">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="editClientDetails()">
            Edit
          </button>
        </div>
      </ng-container>
    </mat-tab>
    <mat-tab label="Currencies">
      <ng-container *ngIf="pk">
        <app-grid-manager
          [gridId]="GridConstants.CLIENT_CURRENCY"
          [usePageContainer]="false"
          [params]="{ clientId: pk }">
        </app-grid-manager>
      </ng-container>
    </mat-tab>


  </mat-tab-group>
</app-page-tab>
