<div [formGroup]="formGroup">
  <mat-form-field
    appearance="outline"
    subscriptSizing="fixed"
    class="form-field-full"
    [class.readonly-form-field]="field.readonly">

    <mat-label>{{ field.label }}</mat-label>

    <input
      matInput
      type="text"
      [formControl]="searchControl"
      [id]="field.name"
      [placeholder]="field.placeholder || ''"
      [readonly]="field.readonly"
      [tabIndex]="field.readonly ? -1 : 0"
      [matAutocomplete]="auto">

    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="optionSelected($event.option.value)">

      <mat-option
        *ngFor="let option of filteredOptions"
        [value]="option">
        {{ option.displayValue }}
      </mat-option>
      <mat-option
        *ngIf="field.dataSourceAllowCreateFlag === 'Y'"
        [value]="CREATE_NEW">
        <mat-icon>add</mat-icon>
        Add New
      </mat-option>
    </mat-autocomplete>

    <mat-error
      *ngIf="formGroup.get(field.name)?.invalid &&
             (formGroup.get(field.name)?.touched ||
              formGroup.get(field.name)?.dirty)">

      <ng-container *ngIf="hasError(field.name, 'required')">
        This field is required.
      </ng-container>

    </mat-error>

  </mat-form-field>
</div>
