<div class="printable-area" *ngIf="componentLoaded">
  <mat-tab-group [mat-stretch-tabs]="false" class="mat-elevation-z4">
    <mat-tab label="Details">
      <ng-container *ngIf="pk">
        <app-form-manager
          [formId]="FormConstants.ROLE"
          [recordId]="pk"
          action="view"
          [inline]="true"
        >
        </app-form-manager>
        <div class="button-row">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="editRole()">
            Edit
          </button>
        </div>
      </ng-container>
    </mat-tab>
    <mat-tab label="Processes">
      <ng-container *ngIf="pk">
        <app-grid-manager
          [gridId]="GridConstants.ROLE_PROCESS_PROCESS_DRIVEN"
          [usePageContainer]="false"
          [params]="{ roleId: pk }">
        </app-grid-manager>
      </ng-container>
    </mat-tab>
    <mat-tab label="Process Details">
      <ng-container *ngIf="pk">
        <app-grid-manager
          [gridId]="GridConstants.ROLE_PROCESS_DETAIL"
          [usePageContainer]="false"
          [params]="{ roleId: pk }">
        </app-grid-manager>
      </ng-container>
    </mat-tab>

    <mat-tab label="Menus">
      <ng-container *ngIf="pk">
        <app-grid-manager
          [gridId]="GridConstants.ROLE_MENU"
          [usePageContainer]="false"
          [params]="{ roleId: pk }">
        </app-grid-manager>
      </ng-container>
    </mat-tab>

  </mat-tab-group>
</div>

