@use '@angular/material' as mat;
@use 'sass:map';
@use 'styles/variables' as *;
@use 'styles/themes' as theme;
@use 'styles/toolbar' as *;

//.header-toolbar {
//  $fg: map.get(theme.$primary-palette, 95);
//
//  display: flex;               // ✅ required for vertical centering to work
//  align-items: center;         // ✅ vertically center children
//
//  min-height: 56px;   // default is 64px for desktop, 56px for mobile
//  height: 56px;
//  padding-left: 0;
//  //background-color: mat.m2-get-color-from-palette($custom-blue-palette, 500);
//  color: $fg;
//  background-color: map.get(theme.$primary-palette, 40);
//
//  .mat-icon,
//  .mat-icon-button {
//    color: $fg;
//  }
//  .mat-toolbar-row {
//    height: 48px;     // ensures inner row also adjusts
//    min-height: 48px;
//  }
//}


.app-title {
  font-size: 20px;
  letter-spacing: 1px;

  .anova {
    color: map.get(theme.$primary-palette, 95);
    font-weight: 400;
  }

  .sea-wrapper {
    position: relative;
    display: inline-block;

    .seagull-icon {
      position: absolute;
      top: -14px;              // adjust as needed
      right: 0;
      width: 18px;             // smaller size
      height: auto;
      filter:
        brightness(0)
        saturate(100%)
        invert(83%)
        sepia(12%)
        saturate(488%)
        hue-rotate(183deg)
        brightness(96%)
        contrast(90%);
      // 👆 Approximates $brand-anova color
    }

    .sea {
      color: $fg-sea;
      font-weight: 400;
      display: inline-block;
      padding-right: 6px;
    }
  }
}
