<div class="header-toolbar">
  <div class="printable-area-flex">
<!--    <button mat-icon-button (click)="toggleSidebar()" class="mr-2">-->
<!--      <mat-icon>menu</mat-icon>-->
<!--    </button>-->

    <a [routerLink]="'/navigator/001'" class="app-title logo-link" title="version: {{version}}">
<!--    <span class="app-title" title="version: {{version}}">-->
      <span class="anova">anova</span>
      <span class="sea-wrapper">
        <img src="icons/seagull.svg" alt="Seagull" class="seagull-icon"/>
        <span class="sea">sea</span>
      </span>
<!--    </span>-->
    </a>

    <span class="flex-spacer"></span>


    <nav class="header-nav" *ngIf="headerMenus.length > 0">
      <a *ngFor="let item of headerMenus"
         [routerLink]="item.route"
         routerLinkActive="active-link"
         class="header-link">
        {{ item.description }}
      </a>
    </nav>

<!--    <div>-->
<!--      <a class="header-link" href="javascript:void(0)">ABOUT</a>-->
<!--      <a class="header-link" href="javascript:void(0)">MODULES</a>-->
<!--    </div>-->

    <!-- Logged-in state -->
    <div class="flex-row align-center" *ngIf="isLoggedIn">
      <span class="user-name hide-on-mobile mr-2">{{ user?.name }}</span>
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>

    <!-- Logged-out state -->
    <div *ngIf="!isLoggedIn">
      <a class="header-link" [routerLink]="'/navigator/004'" (click)="onLogin()" href="javascript:void(0)">LOGIN</a>
    </div>
  </div>
</div>
