// semantic colors

$success-color: #2e7d32;
$success-bg: #e8f5e9;

$danger-color: #c62828;
$danger-bg: #ffebee;

$info-color: #546e7a;
$info-bg: #eceff1;

$warning-color: #ef6c00;
$warning-bg: #fff3e0;
