@use '@angular/material' as mat;
@use 'variables' as *;

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-spacer {
  flex: 1 1 auto;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.hide-on-mobile {
  @media (max-width: 600px) {
    display: none !important;
  }
}

.show-on-mobile {
  display: none;

  @media (max-width: 600px) {
    display: inline-block !important;
  }
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.mr-2 {
  margin-right: 16px;
}

.header-toolbar {
  min-height: 48px;   // default is 64px for desktop, 56px for mobile
  height: 48px;
  padding-left: 0;
  background-color: mat.m2-get-color-from-palette($custom-blue-palette, 500);

  .mat-toolbar-row {
    height: 48px;     // ensures inner row also adjusts
    min-height: 48px;
  }
}

.printable-area {
  width: 80%;           // or max-width: 1200px
  margin: 0 auto;        // center the content
  display: flex;
  align-items: center;
}
