@use 'sass:map';
@use '@angular/material' as mat;
@use 'variables' as *;
@use 'themes' as theme;

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-spacer {
  flex: 1 1 auto;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.hide-on-mobile {
  @media (max-width: 600px) {
    display: none !important;
  }
}

.show-on-mobile {
  display: none;

  @media (max-width: 600px) {
    display: inline-block !important;
  }
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.mr-2 {
  margin-right: 16px;
}


.printable-area {
  //padding-top: 16px;
  width: 80%;           // or max-width: 1200px
  margin: 0 auto;        // center the content
  //align-items: center;
}
.printable-area-flex {
  @extend .printable-area;         // ✅ inherits width and centering
  display: flex;
  //flex-direction: column;          // or row, depending on use
  align-items: center;
  //gap: 16px;                       // optional: vertical spacing between children
}

.breadcrumb {
  min-height: 32px;   // default is 64px for desktop, 56px for mobile
  height: 32px;
  padding-left: 0;
  //background-color: mat.m2-get-color-from-palette($custom-blue-palette, 50);

  display: flex;               // enables flex alignment
  align-items: center;         // centers child content vertically

  .mat-toolbar-row {
    height: 32px;     // ensures inner row also adjusts
    min-height: 32px;
  }
}

.page-title-container {
  margin-top: 8px;
  margin-bottom: 24px;
  text-align: left; // or center if preferred
}

.error {
  background-color: map.get(theme.$error-palette, 90);
  //color: #a94442;
  padding: 1rem;
  border-left: 4px solid map.get(theme.$error-palette, 25);
  border-radius: 4px;
  margin-bottom: 1rem;
}
