@use 'sass:map';
@use 'styles/themes' as theme;

$toolbar-bg: #0d3b66;   // match header
$toolbar-fg: #ffffff;

.toolbar-bar {
  $fg: map.get(theme.$primary-palette, 95);

  display: flex;               // ✅ required for vertical centering to work
  align-items: center;         // ✅ vertically center children

  min-height: 56px;   // default is 64px for desktop, 56px for mobile
  height: 56px;
  padding-left: 0;
  //background-color: mat.m2-get-color-from-palette($custom-blue-palette, 500);
  color: $fg;
  background-color: map.get(theme.$primary-palette, 40);

  .mat-icon,
  .mat-icon-button {
    color: $fg;
  }
  .mat-toolbar-row {
    height: 48px;     // ensures inner row also adjusts
    min-height: 48px;
  }
}

.toolbar-inner {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.flex-spacer {
  flex: 1 1 auto;
}

.toolbar-link {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;

  &:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

//.header-toolbar {
//  $fg: map.get(theme.$primary-palette, 95);
//
//  display: flex;               // ✅ required for vertical centering to work
//  align-items: center;         // ✅ vertically center children
//
//  min-height: 56px;   // default is 64px for desktop, 56px for mobile
//  height: 56px;
//  padding-left: 0;
//  //background-color: mat.m2-get-color-from-palette($custom-blue-palette, 500);
//  color: $fg;
//  background-color: map.get(theme.$primary-palette, 40);
//
//  .mat-icon,
//  .mat-icon-button {
//    color: $fg;
//  }
//  .mat-toolbar-row {
//    height: 48px;     // ensures inner row also adjusts
//    min-height: 48px;
//  }
//}
