@use '../../node_modules/@angular/material/index' as mat;

$spacing-unit: 8px;

// _custom-palettes.scss
$custom-blue-palette: (
  50: #ffffff,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5, // was 500
  450: #2196f3, // was 550 (your new preferred)
  500: #1e88e5,
  700: #1976d2,
  800: #1565c0,
  900: #0d47a1,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: white,
    A400: white,
    A700: white,
  ),
);
