@use '../../node_modules/@angular/material/index' as mat;
@use 'variables' as *;

$primary: mat.m2-define-palette($custom-blue-palette);
$accent: mat.m2-define-palette($custom-blue-palette);
$warn: mat.m2-define-palette($custom-blue-palette);

$theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
));

@include mat.all-component-themes($theme);
