<div class="breadcrumb-bar" *ngIf="navigationMode">
  <nav class="printable-area" aria-label="Breadcrumb">
    <ng-container *ngIf="menuService.breadcrumbMenus$ | async as breadcrumbMenus">
      <ng-container *ngFor="let menu of breadcrumbMenus; let last = last">
        <a
          *ngIf="!last"
          class="breadcrumb-link"
          href=""
          (click)="breadcrumbClick($event, menu.menuId)">
          {{ menu.breadcrumbName || menu.title }}
        </a>

        <span *ngIf="last" class="breadcrumb-current">
          {{ menu.breadcrumbName || menu.title }}
        </span>

        <span class="breadcrumb-separator" *ngIf="!last">>></span>
      </ng-container>
    </ng-container>
  </nav>

<!--  &lt;!&ndash; NEW: context &ndash;&gt;-->
<!--  <div class="breadcrumb-context" *ngIf="context">-->
<!--    <span>{{ context.hotelDescription }}</span>-->

<!--    <span *ngIf="context.currentEventCode">-->
<!--      Cruise {{ context.currentEventCode }}-->
<!--    </span>-->

<!--    <span *ngIf="context.currentPeriodCode">-->
<!--      Period {{ context.currentPeriodCode }}-->
<!--    </span>-->
<!--  </div>-->
</div>

