@use '@angular/material' as mat;
@use 'sass:map';
@use 'styles/variables' as *;
@use 'styles/themes' as theme;
@use 'styles/toolbar' as *;


/***************************************************************
***  breadcrumb section
****************************************************************/
.breadcrumb-bar {
  display: flex;
  align-items: center;
  gap: 8px;
  //font-size: 0.9rem;
  padding: 8px 0 8px;
  background-color: map.get(theme.$primary-palette, 95);
}

.breadcrumb-link {
  text-decoration: none;
  transition: opacity 0.2s ease;
  color: map.get(theme.$primary-palette, 30);
  font: 400 12px/20px Roboto, 'Helvetica Neue', sans-serif;
}

.breadcrumb-link:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.breadcrumb-separator {
  color: map.get(theme.$primary-palette, 30);
  opacity: 0.6;
  padding: 0 4px 0 4px;
}

.breadcrumb-current {
  text-decoration: none;
  //color: map.get(theme.$primary-palette, 60);
  color: map.get(theme.$highlight-palette, 50);
  font: 500 12px/20px Roboto, 'Helvetica Neue', sans-serif;
}
.breadcrumb-current-no-highlight {
  text-decoration: none;
  color: map.get(theme.$primary-palette, 30);
  //color: map.get(theme.$highlight-palette, 50);
  font: 500 12px/20px Roboto, 'Helvetica Neue', sans-serif;
}

//.breadcrumb-bar {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  padding: 0 124px;
//  height: 40px;
//  background: #eaf2ff;
//}
//
//.breadcrumb-left {
//  display: flex;
//  align-items: center;
//  flex-wrap: wrap;
//}
//
//.breadcrumb-context {
//  display: flex;
//  gap: 16px;
//  font-size: 12px;
//  color: #555;
//  white-space: nowrap;
//}
