<div class="reservation-room">

  <div class="room-header">
    <span>Room {{ roomNumber }}</span>

<!--    <button-->
<!--      *ngIf="roomNumber > 1"-->
<!--      mat-button-->
<!--      type="button"-->
<!--      class="remove-room"-->
<!--      (click)="onRemoveRoom()">-->
<!--      Remove Room-->
<!--    </button>-->
    <button *ngIf="roomNumber > 1"
      mat-button
      type="button"
      class="remove-room"
      (click)="onRemoveRoom()">
      <mat-icon>delete_outline</mat-icon>
      Remove Room
    </button>
  </div>

  <div class="room-counts">
    <app-widget-counter
      [field]="adultCountField"
      [formGroup]="roomForm">
    </app-widget-counter>

    <app-widget-counter
      [field]="childCountField"
      [formGroup]="roomForm">
    </app-widget-counter>

    <app-widget-counter
      [field]="infantCountField"
      [formGroup]="roomForm">
    </app-widget-counter>
  </div>
</div>
