<app-page-tab *ngIf="componentLoaded && user?.currentClient?.clientId as clientId">
  <mat-tab-group
    [selectedIndex]="selectedTabIndex"
    (selectedIndexChange)="saveTabIndex($event)"
    [mat-stretch-tabs]="false"
    class="mat-elevation-z4">

    <mat-tab label="Inventory">
      <ng-container *ngIf="pk">
        <app-grid-manager
          [gridId]="GridConstants.EVENT_ROOM_INVENTORY"
          [usePageContainer]="false"
          [params]="{eventId: pk}">
        </app-grid-manager>
      </ng-container>
    </mat-tab>

    <mat-tab label="Summary">
      <ng-container *ngIf="pk">
        <app-grid-manager
          [gridId]="GridConstants.EVENT_ROOM_INVENTORY_SUMMARY"
          [usePageContainer]="false"
          [params]="{eventId: pk}">
        </app-grid-manager>
      </ng-container>
    </mat-tab>
    <mat-tab label="Cabin/Room Status">
      <ng-container *ngIf="pk">
        <div class="placeholder">
          Coming soon...
        </div>
      </ng-container>
    </mat-tab>

  </mat-tab-group>
</app-page-tab>
