<div class="printable-area">
  <app-form-manager [formId]="FormConstants.LOGIN" [pk]="pk" ></app-form-manager>
<!--  <div class="login-container">-->
<!--  <form (ngSubmit)="onSubmit()">-->
<!--    <input [(ngModel)]="username" name="username" autocomplete="username" required>-->
<!--    <input [(ngModel)]="password" name="password" autocomplete="current-password" required type="password" >-->
<!--    <button type="submit">Login</button>-->
<!--  </form>-->

<!--  <div *ngIf="errorMessage" class="error">-->
<!--    {{ errorMessage }}-->
<!--  </div>-->
<!--</div>-->
</div>


