<div [ngClass]="{ 'printable-area': usePageContainer }">
  <section *ngIf="grid$ | async as grid">

    <ng-container *ngIf="setGridData(grid)">
      <h3
        [matTooltip]="gridId"
        class="grid-title">
        {{ grid.title }}
      </h3>

    <button
      *ngIf="grid.canCreate"
      mat-raised-button
      color="primary"
      type="button"
      (click)="onAddClick(grid)">
      Add
    </button>

      <div class="table-wrapper">
        <!--      <table mat-table [dataSource]="grid.rows" class="full-width-table grid-table">-->
        <table mat-table [dataSource]="dataSource" class="full-width-table grid-table">
          <ng-container *ngFor="let column of grid.columns" [matColumnDef]="column.field">
            <th mat-header-cell *matHeaderCellDef>
              {{ column.label }}
            </th>

            <td mat-cell *matCellDef="let row">
              {{ formatCellValue(getCellValue(row, column.dataPath || column.field), column.format) }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="grid.displayedColumns"></tr>

          <tr
            mat-row
            *matRowDef="let row; columns: grid.displayedColumns;"
            class="clickable-row"
            (click)="onRowClick(grid, row)">
          </tr>
        </table>
      </div>
      <mat-paginator
        [length]="grid.rows.length || 0"
        [pageSize]="20"
        [pageSizeOptions]="[20, 50, 100]"
        showFirstLastButtons>
      </mat-paginator>

    </ng-container>
  </section>

</div>
