@use '@angular/material' as mat;
@use 'sass:map';
@use 'styles/variables' as *;
@use 'styles/themes' as theme;
@use 'styles/toolbar' as *;


.grid-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.grid-title {
  margin: 8px 0 8px 0;
}

.grid-actions {
  display: flex;
  gap: 8px;
}

.table-wrapper {
  overflow-x: auto;
  border-radius: 10px;
  border: 1px solid map.get(theme.$neutral-palette, 90);
  background: white;
}

.full-width-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 700px;
}

.grid-table {
  .mat-mdc-header-cell,
  .mat-mdc-cell {
    text-align: left !important;
    justify-content: flex-start !important;
    align-items: center;
  }

  .mat-mdc-header-row {
    background-color: map.get(theme.$neutral-palette, 95);
    height: 48px;
  }

  .mat-mdc-header-cell {
    //font-weight: 600;
    //font-size: 0.9rem;
    color: map.get(theme.$neutral-palette, 30);
    border-bottom: 1px solid #dcdcdc;
    padding: 0.75rem 1rem;
    white-space: nowrap;
  }

  .mat-mdc-row {
    height: 46px;
    transition: background-color 0.15s ease;
  }

  .mat-mdc-row:hover {
    background-color: #fafafa;
  }

  .mat-mdc-cell {
    padding: 0.75rem 1rem;
    font-size: 0.92rem;
    color: #222;
    border-bottom: 1px solid #f0f0f0;
    vertical-align: middle;
  }

  .mat-mdc-row:last-child .mat-mdc-cell {
    border-bottom: none;
  }
}

.grid-table .mat-mdc-checkbox {
  --mdc-checkbox-unselected-icon-color: #{map.get(theme.$neutral-palette, 60)};
  --mdc-checkbox-selected-icon-color: #{map.get(theme.$primary-palette, 60)};
  --mdc-checkbox-selected-checkmark-color: #{map.get(theme.$neutral-palette, 95)};
}
//grid-col-checkbox {
//  width: 40px;
//  border-color: #6aaeff;
//}
